body {
    background-color: bisque;
}

h1 {
    font-size: 60px;
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    text-align: center;
}

.instruction {
    background-color: white;
    width: 50%;
    height: 60px;
    margin: 20px auto;
    border: 4px solid #333;
    box-sizing: border-box;
}

.instruction h2 {
    font-size: 40px;
    font-family: "DynaPuff", system-ui;
    color:rgb(0, 0, 0);
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    text-align: center;
    margin: 0;
}

.instruction h3 {
    font-size: 30px;
    font-family: "DynaPuff", system-ui;
    color:rgb(0, 255, 21);
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    text-align: center;
    margin-top: 10px;
}

.game-surface {
  width: 1200px;
  height: 750px;
  border: 4px solid #333;
  border-radius: 8px;
  background-image: url("images/shop-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 25px auto 0;
  position: relative;
}

.container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.container button {
  border: 4px solid #333;
  width: 5;
  height: 10;
  cursor: pointer;
  margin-top: 400px;
  border-radius: 50%;
  overflow: hidden;
}

.container button img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
}